
.img-1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

}

.mainContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(81, 75, 75, 0.837);
    width: 40%;
    height: 70vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    border-color: #1499C3;
    padding: 0.5rem;
    width: 100%;
    outline: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
    margin-top: 20px;
}

.logo-1{
    margin-top: 100px;
    margin-bottom: 150px;
}

.label {
    font-size: 30px;
    color: white;
    text-align: center;
}

.login-input {
    margin-bottom: 150px;

}

.submit-button {
    padding: 15px 100px;
    border-radius: 10px;
    background-color: #EAAA6F;
    color: white;
    font-size: 30px;
}